

h1 {
    background-color: black;
    color: whitesmoke;
    padding: 9px;
}

.display-1{
    font-size: 2em;
}

h6 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3em
}

button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn-primary {
    color:white;
    background-color:rgb(105, 47, 70);
}

.btn-primary:hover {
    background-color: rgb(71, 34, 49);
}

#myBtn,button, li, h1{
    font-family: 'Poiret One', cursive;
}

h5, p {
    font-family: 'Open Sans Condensed', sans-serif; 
}



ul {
    list-style-image: url('img/plug.png');
}

.content {
    margin-top: 10px;
    padding: 1px;
}

body {
    background: linear-gradient(rgb(245, 237, 255), rgb(235, 220, 255),rgb(245, 238, 255) );
}

#slogan {
    margin-top: -90px;
}

.btn-dark a {
    text-decoration: none; 
    color:rgb(224, 224, 224);
}

/* button homepage */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 3px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

    .display-1 {
        font-size: 2em;
    }


}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .display-1{
        
        font-size: 3em;
        
    }

    h6 {
        font-size: 2em;
        margin-top:80px;
    }

    h5 {
        font-size: 1.8em;
    }

    p, li {
        font-size: 1.4em;
    }

}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

    .display-1 {
        font-size: 3em;
    }

    

}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

    .display-1 {
        font-size: 3em;
    }

    

}